<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div class="container" id="v-for-object">
            <div class="alert alert-primary text-center" role="alert">
                Types of genetic crosses
            </div>
            <hr>
            <div class="container">
                    Poppulation 0
                <div id="art">
                    <div id="v-for-object" v-for="n in 100">
                        <div  class="fila">
                            <div></div>
                            <div v-for="value in gene" v-bind:class ="value"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <hr>
    </div>
<script src="script.js"></script>
</body>
</html>
