<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="jumbotron" id="v-for-object">
        <div class="row-xs-12">
            <div class="alert alert-primary text-center" role="alert">
                Types of genetic crosses
            </div>
            <center>
                <button class="btn btn-outline-success">Type of crossing 1</button>
                <button class="btn btn-outline-success">Type of crossing 2</button>
                <button class="btn btn-outline-success">Type of crossing 3</button>
                <br><br>
                <button class="btn btn-outline-danger" v-on:click="fillPopulation()" v-bind:disabled="population.length > 0">
                    Fill Population
                </button>
            </center>
        </div>
        <div class="main row jumbotron">
            <div class="container col-md-6">
                <center>
                    <h1>Random Population</h1>
                    <div id="art">
                        <div v-for="genes in population">
                            <div class="fila">
                                <div v-for="chromosome in genes" v-bind:class="chromosome"></div>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
            <div class="container col-md-6">
                <center>
                    <h1>Best Gene</h1>

                </center>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>