<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="jumbotron" id="v-for-object">
        <div class="row-xs-12">
            <div class="alert alert-primary text-center" role="alert">
                Types of genetic crosses
            </div>
            <br>
            <center>
                <button type="button" class="btn btn-outline-success">Type of crossing 1</button>
                <button type="button" class="btn btn-outline-success">Type of crossing 1</button>
                <button type="button" class="btn btn-outline-success">Type of crossing 1</button>
            </center>
        </div>
        <div class="main row jumbotron">
            <div class="container col-md-6">
                Gene 0
                <div id="art">
                    <div v-for="n in 100">
                        <div class="fila">
                            <div v-for="value in gene" v-bind:class="value"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container col-md-6">
                Best Gene
                <div id="art">
                    <div v-for="n in 100">
                        <div class="fila">
                            <div></div>
                            <div v-for="value in gene" v-bind:class="value"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>