 #art {
   display: table;
   border-spacing: 1px;
   background-color: black;
   border: 5px solid black;
 }
 .fila {
   display: table-row;
 }
 .1 {
   display: table-cell;
   background-color:black;
   width: 40px;
   height: 40px;
 }
  .pixelBlanco {
   display: table-cell;
   background-color:white;
   width: 40px;
   height: 40px;
 }