 #art {
   display: table;
   border-spacing: 1px;
   background-color: black;
   border: 1px solid black;
 }
 .fila {
   display: table-row;
 }
 .bluePixel {
   display: table-cell;
   background-color:blue;
   width: 5px;
   height: 5px;
 }
 .redPixel {
   display: table-cell;
   background-color:red;
   width: 5px;
   height: 5px;
 }
 .container{
    background-color:#27a5cc44;
    border-radius: 100px;
    border: 10px solid #31c73d57;
    justify-content: center;
 }